@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0;
        padding: 3rem;

        @include m.tablet {
            overflow: scroll;
        }

        #hora-placeholder {
            display: inline-block;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #e9ecef;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .hora-select {
            display: none;
            /* Ocultar el select inicialmente */
        }

    }
}

.barra {
    margin: v.$separacion 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
}